.container {
    max-width: 1440px;
    margin: 0 auto;
}

footer {
    background-color: rgb(11, 21, 35);
    padding: 8rem 2rem;
}

@media only screen and (max-width: 912px) {
    footer {
        padding: 4rem 2rem;
    }
}
